#questions {
  font-size: large;
  margin-bottom: 3.5em;
  margin-top: 7em;
}

#questionRandom {
 /* max-width: 600px;*/ 
  margin: 0 auto;  
  padding: 1em;    
  
  border-radius: 10px; 
  margin-bottom: 5em;
}
main {
  min-height: 80vh;
  padding-bottom: 3em;
 
}

#timer {
  position: absolute;
  top: 4em;
  right: 2.5em;
 
}

#numberquestion {

  display: flex;
  margin-top: 2em;

}


#questions h4 {
  font-size: 1.5em;
  font-weight: 300;
}

#answers {
  
  width: 100%; 
  display: flex; 
  flex-wrap: wrap; 
  gap: 2em; /* Aggiunge uno spazio tra gli elementi */
 
  margin-bottom: 1em; 
  margin-top: 5em;
}

.answer {
  flex: 1 1 calc(50% - 1em); /* Le risposte occupano metà della larghezza meno lo spazio del gap */
  padding: 1em; /* Aggiunge spazio interno alle risposte */
  border: 2px solid transparent;
  border-radius: 69px 69px 69px 69px;
  
  background-color: rgba(255, 253, 254, 0.07);


  cursor: pointer;
  box-shadow: 0 -1px 5px rgb(245, 245, 245); 
  text-align: center; 
}

.answer:hover {
  background:  rgba(255, 253, 254, 0.25);

}

.color,
.color:hover {
  background: linear-gradient(180deg,
      rgba(199, 2, 144, 1) 0%,
      rgba(147, 0, 125, 1) 100%);
}

#numeroFisso {
  color: #b51289;
}

svg {
  background: transparent;
  border-radius: 50%;
}
text {
  fill: white;
  text-anchor: middle;
}