*{
    line-height: 2em;
}

.container{
    text-align: center;
}

body{
    margin: 0 auto;
    width: 80%;
    height: 90%;
}

.logo{
    margin-top: 2em;
}

#feedback{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c2138e;
    width: 100%;
    margin-bottom: 3em;
}



.stars{
    margin: 5px;
}

.pform{
    margin: 20px;
}