*{
    font-size: 1.2rem;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

main>*{
    display: inline-block;
    width: 30%;
}

.final-results-outcome{
    color: #01ffff;
}

.final-results-description{
    font-size: 0.8em;
}

.results h2{
    font-size: 2em;
}

.rateUs,
.final-results-outcome{
    font-weight: 600;
}

.rateUs{
    text-decoration: none;
    border:2px solid white;
    padding: 0.5em 3em;
    cursor: pointer;
}


.rateUs:hover {
    background:  rgba(255, 253, 254, 0.25);
  }

.container>*:not(:last-child){
    margin-bottom: 3em;
}

header h1{
    font-size: 2.5em;
}

.graph-center-text{
    text-anchor: middle;
    dominant-baseline: middle;
}

.congrats {
	flex-grow: 2;
}

.graph-container,
.graph-container svg {
	max-height: 30em;
}